*.pptx

# library folder
./ai_pptx
/ai_pptx

# Output
final_report*

# input
.pdf 
*.xlsx
*.ipynb
FDD.Draft Report.For AI solution purpose Only.pptx

# Ignore pptx templates and databooks
*template*.pptx
*databook*.pptx

*.md
# Add any other input/output file types as needed